@import "lib/vars";
//@import "lib/colors";



:root{
  --color1: #{map-get($colors, "white")};
  --color2: #{map-get($colors, "black")};
  --color3: #{map-get($colors, "lblack")};
  --color4: #{map-get($colors, "rose")};
  --color5: #{map-get($colors, "drose")};
  --color6: #{map-get($colors, "lgreen")};
  --color7: #{map-get($colors, "dgreen")};
  --color8: #{map-get($colors, "lgray")};
  --site-width: 1140px;
}

* {
  backface-visibility: hidden;
  box-sizing: border-box;
}

html, body {
  font-family: $font_family_base;
  font-size: $base * 2;
  width: 100%;
  height: 100%;
  margin: 0;
  //padding: 10px 0;
  background-color: var(--color3);
  color: var(--color1);
}

@import "partials/pages/_slider";